.main-header {
  height: 400px;
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}
.user {
  color: white;
}
header {
  font-family: Source-sans-pro;
}