nav {
  background: #4056A1;
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}
.new-tweet {
  margin-top: -15px;
}
.animation {
  color: red;
  margin-top: 45px;
  margin-right: -100px;
}
.logo {
  margin-right: auto;
}
